<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping & Delivery - TranquilTrips</title>
    <link rel="icon" href="https://img.freepik.com/premium-vector/stylish-3d-yellow-pattern-effect-vector-letter-t-icon-personalize-your-backgrounds_462839-11650.jpg?w=1060">
    <link rel="stylesheet" href="/css/shipping.css">

</head>
<body>

    <section id="shipping-delivery">
        <div class="content-container">
            <h1>Shipping & Delivery</h1>
            <p>At this time, we do not provide shipping or delivery services for any of our products or services. We are primarily a platform for booking trips and services.</p>
            <p>We appreciate your understanding and encourage you to browse our website for more travel-related information and services.</p>
            <a href="https://tranquiltrips.onrender.com/listings" class="back-btn">Browse Back to Website</a>
        </div>
    </section>

</body>
</html>
